$family: "yekanBakh", "iransansxv", "Inter", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
@use "vuetify" with (
  $body-font-family: $family
);

@tailwind components;
@tailwind utilities;
@layer utilities {
  .ltr {
    direction: ltr;
  }
  .rtl {
    direction: rtl;
  }
}
.nuxt-icon {
  height: 0.5em !important;
  width: 0.7em !important;
}
.sans {
  font-family: "iransansxv" !important;
}
@font-face {
  font-family: "iransansxv";
  src: url("../fonts/IRANSansX-Regular.woff") format("woff-variations"),
    /* will be the standard and works in Safari now */ url("../fonts/IRANSansX-Regular.woff")
      format("woff");
  /* for the other supporting browsers */
  font-weight: 100 1000;
  font-display: fallback;
}
@font-face {
  font-family: "yekanBakh";
  src: url("../fonts/YekanBakh-Regular.woff") format("woff"),
    /* will be the standard and works in Safari now */ url("../fonts/YekanBakh-Regular.woff")
      format("woff");
  /* for the other supporting browsers */

  font-display: fallback;
}

.v-list-item__prepend {
  width: 65px;
}
.v-navigation-drawer--rail {
  width: 90px !important;
}
.v-messages__message {
  hyphens: none !important;
  text-align: right !important;
  font-size: 0.6rem !important;
}

body {
  direction: rtl !important;
  font-family: "yekanBakh", "iransansxv";
}
.light-background {
  background: var(--Basic-Background, linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%)) !important;
}

.v-field__input {
  text-align: right !important;
  // border: 1px solid #9195A1;
}

// Reset link styles
a {
  color: inherit;
  text-decoration: none;
}
p {
  font-size: 0.8rem;
}

.v-card--variant-elevated {
  box-shadow: none !important;
}
.v-field-label--floating,
.v-field-label,
.v-label {
  right: 10px !important;
  font-size: 0.8rem !important;
}
.v-field__prepend-inner {
  margin-bottom: 0.1rem;
}
// Override the textfield's radius
.v-text-field-primary {
  .v-field__outline__start {
    border-radius: 10px 0 0 10px !important;
  }
  .v-field__outline__end {
    border-radius: 0 10px 10px 0 !important;
  }
}
// .v-field__input {
//   font-size: 9px;
//   text-align: center;
// }
.v-field--appended {
  padding-inline-end: 0px !important;
}
.v-badge__badge {
  bottom: calc(100% - -13px) !important;
}
.v-list-item-title {
  font-size: 10px !important;
}
.v-overlay-container {
  text-align: right !important;
}
.text-field-primary {
  .v-field__overlay {
    border: 1px solid var(--Gray-500, #9195a1);
    border-radius: 4px !important;
  }
  .v-field__append-inner {
    width: 35px!important;
  }
}
